@import '../../../assets/scss/settings/settings.scss';

.work {
    @include breakpoint(medium) {
        display: flex;
    }

    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        @include breakpoint(medium) {
            flex: 1 1 auto;

            &:hover {
                .work__image {
                    transform: scale(1.05);
                }

                .work__content {
                    opacity: 1;
                }
            }    
        }
    }

    &__link {
        display: block;
    }

    &__image {
        width: 100%;
        display: block;
        transition: all .75s;
    }

    &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba($portfolio-hover-state, .8);

        @include breakpoint(medium) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            
            opacity: 0;
            transition: all .75s;
        }
    }

    &__header {
        padding: 1.5rem;
        text-align: center;
        color: $body-font-color-alt;

        @include breakpoint(medium) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }

    &__title {
        @include headerLine(100px, null, $border-line-alt);
        margin: 0;
        margin-bottom: 1rem;
        font-size: 1.5rem;

        @include breakpoint(medium) {
            font-size: 3vw;
            margin-bottom: 2rem;
        }
    }

    &__subtitle {
        font-size: $h5;
        margin: 0;

        @include breakpoint(medium) {
            font-size: 1.2vw;
        }
    }
}