@import '../../../assets/scss/settings/settings.scss';

.nav {
    &__button {
        font-size: $h1;
        font-family: $header-font-family;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: $body-font-color;
        text-decoration: none;
        outline: 0;
        border: 0;
        padding: 2.5rem 1rem;
        cursor: pointer;

        @include breakpoint(medium) {
            padding: 0 5rem;
        }
    }
}