@import '../../../assets/scss/settings/settings.scss';

.hero {
    @extend %background-cover;
    position: relative;
    height: 100vh;

    background-image: url('./imgs/heroImage.jpg');
 
    &__content {
        @extend %absolute-center;
        z-index: 1;
        
        width: 100%;
        text-align: center;
    }

    &__title {
        font-size: 2.125rem;
        margin-bottom: 0;
    }

    &__heading {
        @include headerLine(120px, $h2, $border-line);
        margin-top: 1rem;
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        display: block;

        background-image: url('~assets/imgs/grid.png');
        background-color: rgba($white, .9);
    }
}