@import '../../../assets/scss/settings/settings.scss';

.scroll {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1rem;
    z-index: 1;

    color: $icon-color;
    text-align: center;
    font-size: 1.6rem;

    &__text {
        font-size: .75rem;
        margin-bottom: .5rem;
        color: $body-font-color;
    }
}