@import '~assets/scss/settings/settings';

.hamburger {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    z-index: 3;

    width: 60px;
    height: 35px;
    cursor: pointer;
    display: block;

    @include breakpoint(smallOnly) {
        width: 40px;
        height: 25px;
    }

    &::before,
    &::after,
    &__middle {
        background-color: $hamburger-background;
        transition: all .5s;
        width: 100%;
        height: 5px;

        position: absolute;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        top: 0;
    }

    &::after {
        width: 50%;
        top: initial;
        bottom: 0;
        left: 50%;
    }

    &__middle {
        top: 50%;
        transform: translateY(-50%);
        left: 25%;
        width: 75%;
    }

    &.open {
        position: fixed;

        &::before,
        &::after,
        .hamburger__middle {
            background-color: $hamburger-active-background;
            left: 0px;
        }
    }
}