@import '../../../assets/scss/settings/settings.scss';

.back-to-work { 
    display: flex;
    align-content: center;
    justify-content: space-between;
    
    position: absolute;
    top: 2rem;
    left: 50%;
    z-index: 1;
    width: 100px;

    text-decoration: none;
    color: $body-font-color;
    
    @include breakpoint(smallOnly) {
        left: 1rem;
    }

    @include breakpoint(medium) {
        transform: translateX(-50%);
    }

    &:hover {
        .back-to-work__icon {
            margin-left: -.25rem;
        }
    }

    &__heading {
        font-size: $h5;
        margin: 0;
    }

    &__icon {
        display: inline-block;
        margin-right: 1rem;
        font-size: $h3;
        color: $icon-color;

        
        margin-left: 0px;
        transition: all .25s;
    }
}