@import 'settings';

* {
    box-sizing: border-box;
}

html {
    font-size: 85%;

    @include breakpoint(medium) {
        font-size: 86%;
    }

    @include breakpoint(large) {
        font-size: 90%;
    }
}

body {
    font-family: $body-font-family;
    color: $body-font-color;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
    text-transform: uppercase;
    letter-spacing: 6px;
}

p {
    line-height: 1.5;
    letter-spacing: 2px;
}

